<div class="title">
		<div class="center-block"><a href='#/setting'><i style='float:left;'  class="fa fa-cog"></i></a><!--i ng-click="logout()"  style='float:left;' class="fa fa-times" ></i-->
		<!--a ng-click="logout()" style='float:left;color:#fff;text-decoration:none;cursor:pointer;'>Logout</a-->Session <a href='#/notification'><i  style='float:right;margin-right:10px;' class="fa fa-bell"></i></a><!--a href='#/setting'><i style='float:right;'  class="fa fa-cog"></i></a--></div>
</div>
<div class="extra_space">
&nbsp;
</div>
<div class="container">
	<div class="col-xs-3 ">&nbsp;</div>
	<div class="col-xs-6 center-block center">
		<img src='images/logo.jpg'; />
	</div>
	<div class="col-xs-3 ">&nbsp;</div>
	<div class="extra_space col-xs-12">
	&nbsp;
	</div>
	<div class="col-xs-12">
	   
		<a href='#/find_session'><button  class="submit col-xs-12 btn btn-default">Find Session</button></a>
		
		<div class="small_extra_space col-xs-12">&nbsp;</div>
	    <a href='#/create_session'><button class="submit col-xs-12 btn btn-default">Create Session</button></a>
	    </a>
		
		<div class="small_extra_space col-xs-12">&nbsp;</div>		
		 <a href='#/my_session'><button class="submit col-xs-12 btn btn-default">My Session</button>		
		
		<div class="small_extra_space col-xs-12">&nbsp;</div>
		<a ng-click="logout()" class="center-block" style="font-size:23px;"><!--button  class="submit col-xs-12 btn btn-default"-->Logout<!--/button--></a>
		<div class="small_extra_space col-xs-12">&nbsp;</div>
	</div>

</div>